@font-face {
  font-family: "Chronicle";
  font-display: swap;
  src: url("../fonts/Chronicle.woff") format("woff"), url("../fonts/Chronicle.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Chronicle";
  font-display: swap;
  src: url("../fonts/Chronicle.woff") format("woff"), url("../fonts/Chronicle.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "gilroy";
  font-display: swap;
  src: url("../fonts/gilroy-black.woff") format("woff"), url("../fonts/gilroy-black.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "gilroy";
  font-display: swap;
  src: url("../fonts/gilroy-bold.woff") format("woff"), url("../fonts/gilroy-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "gilroy";
  font-display: swap;
  src: url("../fonts/gilroy-extrabold.woff") format("woff"), url("../fonts/gilroy-extrabold.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "gilroy";
  font-display: swap;
  src: url("../fonts/gilroy-regular.woff") format("woff"), url("../fonts/gilroy-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "gilroy";
  font-display: swap;
  src: url("../fonts/gilroy-semibold.woff") format("woff"), url("../fonts/gilroy-semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
  font-family: "Gilroy";
  color: #fff;
  background-color: #0B1D26;
  background-image: url("../img/BG.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

/* BASE */

.container-wide {
  width: 1790px;
  padding: 0 15px;
  margin: 0 auto;
}

.space-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* HEADER */

.header {
  margin-top: 64px;
}

.logo {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 32px;
}

.nav {
  font-weight: 700;
  font-size: 18px;
}

.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav li + li {
  margin-left: 40px;
}

.nav a {
  color: #fff;
  text-decoration: none;
  -webkit-transition: color 0.2s ease-in;
  -o-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}

.nav a:hover {
  color: #FBD784;
}

.account {
  font-size: 17px;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  -webkit-transition: color 0.2s ease-in;
  -o-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}

.account:hover {
  color: #FBD784;
}
@supports (-webkit-appearance:none){
body{background-image:url("../img/BG.webp")}
}
