@font-face {
  font-family: "Chronicle";
  font-display: swap;
  src: url("../fonts/Chronicle.woff") format("woff"), url("../fonts/Chronicle.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Chronicle";
  font-display: swap;
  src: url("../fonts/Chronicle.woff") format("woff"), url("../fonts/Chronicle.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "gilroy";
  font-display: swap;
  src: url("../fonts/gilroy-black.woff") format("woff"), url("../fonts/gilroy-black.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "gilroy";
  font-display: swap;
  src: url("../fonts/gilroy-bold.woff") format("woff"), url("../fonts/gilroy-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "gilroy";
  font-display: swap;
  src: url("../fonts/gilroy-extrabold.woff") format("woff"), url("../fonts/gilroy-extrabold.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "gilroy";
  font-display: swap;
  src: url("../fonts/gilroy-regular.woff") format("woff"), url("../fonts/gilroy-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "gilroy";
  font-display: swap;
  src: url("../fonts/gilroy-semibold.woff") format("woff"), url("../fonts/gilroy-semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
  font-family: "Gilroy";
  color: #fff;
  background-color: #0B1D26;
  background-image: url("../img/BG.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

/* BASE */

.container-wide {
  max-width: 1790px;
  padding: 0 15px;
  margin: 0 auto;
}

.container {
  max-width: 1492px;
  margin: 0 auto;
  padding: 0 15px;
}

.space-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* HEADER */

.header {
  margin-top: 64px;
  padding-bottom: 843px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-wrapper {
  margin-bottom: 198px;
}

.logo {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 32px;
}

.nav {
  font-weight: 700;
  font-size: 18px;
}

.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav li + li {
  margin-left: 40px;
}

.nav a {
  color: #fff;
  text-decoration: none;
  -webkit-transition: color 0.2s ease-in;
  -o-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}

.nav a:hover {
  color: #FBD784;
}

.account {
  font-size: 17px;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  -webkit-transition: color 0.2s ease-in;
  -o-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
  position: relative;
}

.account:hover {
  color: #FBD784;
}

.account::before {
  width: 50px;
  height: 20px;
  display: block;
  content: "";
  position: absolute;
  top: 30%;
  left: -40px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url("../img/icons/icons.svg#account");
  background: no-repeat;
  background-size: contain;
}

/* HERO */

.hero {
  display: block;
  max-width: 950px;
  margin: 0 auto;
  padding: 0 15px;
  text-decoration: none;
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: -webkit-transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hero:hover {
  -webkit-transform: translateY(-5%);
      -ms-transform: translateY(-5%);
          transform: translateY(-5%);
}

.hero__category {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.222;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #FBD784;
  padding-left: 104px;
  margin-bottom: 32px;
  position: relative;
}

.hero__category::before {
  position: absolute;
  display: block;
  content: "";
  width: 72px;
  height: 2px;
  padding: auto;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #FBD784;
}

.hero__title {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 88px;
  line-height: 1.136;
  text-transform: capitalize;
  color: #ffffff;
  margin-bottom: 32px;
}

.hero__scroll {
  display: inline-block;
  position: relative;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.222;
  color: #fff;
  padding-right: 42px;
}

.hero__scroll::after {
  display: block;
  content: "";
  width: 55px;
  height: 20px;
  background-image: url("../img/icons/icons.svg#arrow_down");
  background-repeat: no-repeat;
  position: absolute;
  right: 0px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

/* ARTICLE */

.article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 200px;
}

.article:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.article__text {
  max-width: 782px;
  padding-left: 150px;
  position: relative;
}

.article__text::before {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  width: 240px;
  height: 240px;
  font-style: normal;
  font-weight: 700;
  font-size: 240px;
  line-height: 1;
  color: #fff;
  opacity: 0.1;
}

.article--num-1::before {
  content: "01";
}

.article--num-2::before {
  content: "02";
}

.article--num-3::before {
  content: "03";
}

.article__subtitle {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.222;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #FBD784;
  padding-left: 104px;
  margin-bottom: 32px;
  position: relative;
}

.article__subtitle::before {
  position: absolute;
  display: block;
  content: "";
  width: 72px;
  height: 2px;
  padding: auto;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #FBD784;
}

.article h2 {
  max-width: 555px;
  margin-bottom: 22px;
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 1.2;
  color: #fff;
}

.article p {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.78;
  color: #ffffff;
  margin-bottom: 27px;
}

.article__link {
  display: inline-block;
  position: relative;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.222;
  color: #FBD784;
  text-decoration: none;
  padding-right: 42px;
}

.article__link::after {
  display: block;
  content: "";
  width: 45px;
  height: 16px;
  background-image: url("../img/icons/icons.svg#arrow_right");
  background-repeat: no-repeat;
  position: absolute;
  right: 0px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.article__img {
  display: block;
}

/* FOOTER */

.footer {
  padding-bottom: 120px;
}

.footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__copyright-logo {
  margin-bottom: 24px;
}

.footer__copyright-desc {
  max-width: 303px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.78;
}

.footer__copyright-terms {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.78;
  color: rgba(255, 255, 255, 0.5);
  margin-top: auto;
}

.footer__nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__nav + .footer__nav {
  margin-left: 212px;
}

.footer__nav {
  max-width: 200px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.33;
}

.footer__nav-title {
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.78;
  color: #FBD784;
}

.footer__nav ul,
.footer__nav li {
  margin: 0;
  padding: 0;
}

.footer__nav ul {
  list-style: none;
}

.footer__nav li {
  margin-bottom: 11px;
}

.footer__nav li:last-child {
  margin-bottom: 0;
}

.footer__nav a {
  color: #fff;
  text-decoration: none;
  position: relative;
  padding-bottom: 5px;
}

.footer__nav a::after {
  position: absolute;
  left: 0;
  bottom: -10px;
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #fff;
  opacity: 0;
  -webkit-transition: all ease-in 0.2s;
  -o-transition: all ease-in 0.2s;
  transition: all ease-in 0.2s;
}

.footer__nav a:hover::after {
  bottom: 0;
  opacity: 1;
}
@supports (-webkit-appearance:none){
body{background-image:url("../img/BG.webp")}
.account::before{background-image:url("../img/icons/icons.svg#account")}
.hero__scroll::after{background-image:url("../img/icons/icons.svg#arrow_down")}
.article__link::after{background-image:url("../img/icons/icons.svg#arrow_right")}
}
