@import 'mixin';
@import 'fonts';
@import 'var';


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}



body {
	width: 100%;

	margin: 0;

	font-family: 'Gilroy';
	color: #fff;

	background-color: $bg;
	background-image: url('../img/BG.jpg');
	background-size: 100% auto;
	background-repeat: no-repeat;
}

/* BASE */
.container-wide {
	width: 1790px;

	padding: 0 15px;
	margin: 0 auto;
}

.space-between {
	display: flex;
	justify-content: space-between;
}

/* HEADER */


.header {
	margin-top: 64px;
}

.nav-wrapper {
	margin-bottom: 198px;
}

.logo {
	font-family: $Playfair;
	font-weight: 700;
	font-size: 32px;
}

.nav {
	font-weight: 700;
	font-size: 18px;

	ul {
		display: flex;

		margin: 0;
		padding: 0;
		list-style-type: none;
	}

	li + li {
		margin-left: 40px;
	}

	a {
		color: #fff;
		text-decoration: none;

		transition: color .2s ease-in;

		&:hover {
			color: $accent;
		}
	}
}

.account {
	font-size: 17px;
	font-weight: 700;
	text-decoration: none;

	color: #fff;

	transition: color .2s ease-in;

	&:hover {
		color: $accent;
	}
}